p{
    background:rgb(53, 114, 155);
    line-height: 25px; /*interlineado*/
    color:rgb(53,12,2);
}
hgroup{
    background: rgb(20, 137, 67);
    color: rgb(188, 39, 208); 
}
#tete{
    background:rgb(188, 60, 17);
}
.clase{
    background:rgb(47, 181, 98);
    color:white;
}
blockquote[cite="http://google.com"]{
    background: rgb(161, 185, 210);
}
header{
    background:aqua;
    font-size:50px;
    color:black;
    font-family:Times;
    font-weight: bold;
    font-style: italic;
    border-style: groove;
    border-color: black;
}
section{
    text-align:center;
}
body{
    margin: auto; 
    width:800px
}
div{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10%;
}
.menu li{
    display: inline-block;
    text-shadow: 3px 3px 3px gray; /*desplazamiento horizontal, vertical, radio de desnfoque y color de la sombra de texto*/
}
.clase{
    text-align: center;
}
#textoFinal{
    background-color: rgb(83, 207, 205);
    font-size: 25px;
    font-family: "Franklin";
    color:blue;
    padding-top: 10px;
}