/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
    /* Pattern from https://www.heropatterns.com/ */
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23102ede' fill-opacity='0.19'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #1e272e;
  color: #fff;
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ENCABEZADO */

.titulo {
  width: 90%;
  margin: auto;
}

h1.titulo2 {
  color:#ffffff;
  font-size: 40px;
  font-family: "fantasy";
}

.encabezado {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.logomedico {
  width: 40px;
}

.logount {
  width: 70px;
}

.encabezado ul {
  display: flex;
}

.encabezado ul li {
  padding: 10px;
}

.encabezado ul li a {
  padding: 2px;
}

.encabezado ul li a:hover {
  border-bottom: 2px solid #fff;
}

.encabezado ul.nav-menu {
  flex: 1;
  margin-left: 20px;
  justify-content: center;
}

hr {
  margin: 10px 0;
}

/* BIENVENIDA */

.bienvenida {
  width: 100%;
  height: 550px;
  background: url("./img/news5.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.saludo {
  color:#000000;
  font-size: 30px;
  background-color: rgba(207, 207, 207, 0.4);
}

.saludo2 {
  color: #000000;
  font-size: 25px;
  background-color: rgba(207, 207, 207, 0.4);
}

.bienvenida h2,
.bienvenida p {
  margin-bottom: 10px;
  color: black
}


/* BENEFICIOS */

p.subtitulo {
  color: white;
  font-size: 30px;
  font-family: "fantasy";
  font-weight: bold;
}

.beneficios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 30px 0;
}

.beneficios img {
  width: 100%;
  height: 180px;
}

.beneficios h3 {
  font-size: 20px;
  margin: 10px 0;
}

/* MANUAL DE USUARIO */

p.subtitulo2 {
  color: white;
  font-size: 30px;
  font-family: "fantasy";
  font-weight: bold;
}

.pasos {
  display:grid;
  grid-template-columns: 600px 1fr;
  margin: 30px 0;
}

.pasos img {
  width: 550px;
  height: 500px;
}

.pasos h3 {
  font-size: 20px;
  margin: 10px 0;
}

.pasos2 {
  display:grid;
  margin: 30px 0;
  gap: 25px;
}

.pasos2 img {
  width: 100%;
  height: 250px;
}

.pasos2 h3 {
  font-size: 20px;
  margin: 10px 0;
}

.pasos2 p {
  margin-bottom: 10px;
}

.historiales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 0 0 30 0;
  justify-content: center;
}

.historiales img.uno {
  width: 100%;
  height: 250px;
}

.historiales img.dos {
  width: 100%;
  height: 450px;
}

.historiales img.tres {
  width: 100%;
  height: 450px;
}

/* BANNER BENEFICIOS */
.banner-beneficios {
  width: 100%;
  height: 350px;
  background: url("./img/image-five.jpg") no-repeat center center/cover;
  margin-bottom: 40px;
}

.banner-beneficios .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #fff;
}

.banner-beneficios p,
.banner-recomendaciones p {
  margin: 10px 0 20px 0;
}

/* BANNER RECOMENDACIONES*/
.banner-recomendaciones {
  width: 100%;
  height: 350px;
  background: url("./img/image-five.jpg") no-repeat center center/cover;
  margin: 30px 0;
}

.banner-recomendaciones .content {
  width: 50%;
  padding: 100px 0 0 30px;
}


/* FINAL DE PAGINA */
.final-pagina {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.final-pagina-contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.final-pagina-contenido ul {
  margin: 0 auto;
}

.final-pagina li {
  line-height: 2.8;
}

.pie-pagina {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

